# Ignore dependency folders
node_modules/
.venv/

# Ignore sensitive environment variables (API keys, strings)
.env
config.js
secrets.txt

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
